{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Category page </h1>
            <p class="lead fw-normal text-white-50 mb-0">All Categorys</p>
        </div>
    </div>
</header>
<!-- Section-->

<div class="container mt-5 justify-content-center text-center">
    {% for category in categorys %}
    <h5><a href="{% url 'category' category %}">{{ category }}</a></h5>
   
    {% endfor %}
</div>


<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

{% endblock %}