{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Proccess order</h1>
            <p class="lead fw-normal text-white-50 mb-0">proccessing</p>
        </div>
    </div>
</header>
<!-- Section-->
<br>
<div class="container items-center">
    <div class="card  mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="card">
                <div class="card-header">
                    Checkout Summary
                </div>
                <div class="card-body">

                    {% if cart_products %}
                    {% for product in cart_products %}

                    {% if product.is_sale %}
                    <h5 class="card-title">{{product.name}}:{{ product.sale_price }}</h5>
                    {% else %}
                    <h5 class="card-title">{{product.name}}:{{ product.price }}</h5>
                    {% endif %}
                    <p class="card-text">{% for key,value in quantities.items %}
                        {% if key == product.id|slugify %}
                        <option selected> {{ value }} </option>
                        {% endif %}
                        {% endfor %}
                    </p>

                    {% endfor %}
                    {% endif %}

                    <h6 class="card-text">Total : {{ totals }}</h6>

                    <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">Update Items</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container items-center">

<div class="card  mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="card">
            <div class="card-header">
                Shipping info
            </div>
            <div class="card-body">
                Name : {{ shipping_form_info.shipping_first_name }} <br>
                Email : {{ shipping_form_info.shipping_email }} <br>
                Address 1: {{ shipping_form_info.shipping_address1 }} <br>
                {% if shipping_form_info.shipping_address2 %}
                Address 2: {{ shipping_form_info.shipping_address2 }} <br>
                {% else %}
                {% endif %}
                City : {{ shipping_form_info.shipping_city }} <br>
                State : {{ shipping_form_info.shipping_state }} <br>
                pincode : {{ shipping_form_info.shipping_pincode }} <br>
                Country : {{ shipping_form_info.shipping_country }}


                <br><br><a href="{% url 'checkout' %}" class="btn btn-sm btn-outline-secondary">Update Shipping</a>
            </div>
        </div>
    </div>
</div>
</div>

</div>
<br>
<div class="container items-center">
    <div class="card  mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="card">

                <div class="card-header">
                    Billing Info
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'proccess_order' %}">
                        {% csrf_token %}

                    {{ billing_form.as_p }}


                </div>
            </div>
        </div>
    </div>


    <button href="submit" class="btn btn-success">Pay</button>
</form>

</div>

    <br>

    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>


    {% endblock %}